<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>about</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}"/>
</head>
<body>
  <div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="nav-link-wrapper">
          <a href="{{ url_for('home') }}">home</a>
        </div>
      </div>

      <div class="right-side">
        <div class="nav-link-wrapper">
          <a href="https://public.tableau.com/app/profile/cheyenne6868/viz/final_project_dashboard_16301744373520/Dashboard1?publish=yes">BREAST CANCER DASHBOARD</a>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="two-column-wrapper">
          <div class="profile-image-wrapper">
            <img src="{{url_for('static', filename='profile.jpg')}}">
          </div>
          <div class="profile-content-wrapper">
            <h1>hi, thanks for visiting our site</h1>

            <p><strong>Key question - Can we construct a machine learning model to predict whether 
                breast cancer is benign or malignant based on multiple points of measurement data 
                collected from histopathologic samples of cell nuclei?</strong><br />
                <br />
                
                We will be retrieving and preprocessing data from the Breast Cancer Wisconsin 
                (Diagnostic) Data Set, which uses key features of breast mass cell nuclei taken 
                from fine needle aspiration biopsies. Our goal is to find the best machine learning 
                model (which would have the highest testing data accuracy percentage) for this 
                predictive analysis. The models we will be using are:<br /><br />
                <ul>
                    <li>Logistic Regression</li>
                    <li>Support Vector Machines (SVM) before & after hypertuning the model</li>
                    <li>Kernel SVM</li>
                    <li>Random Forest Classifier</li>
                </ul>  
              </p>

              Our dataset:
              https://www.kaggle.com/uciml/breast-cancer-wisconsin-data<br /><br />

              <h4>Collaborators:</h4>
              <h5>Carley Engleson<br />
                  Cheyenne Martin<br />
                  Ricci Sandoval<br />
                  Ryan M<br />
              </h5>
          </div>
      </div>
    </div>

  </div>
</body>
</html>